body {
    font-size: 35px;
}

div#itens {
    background-color: orange;
}

.vermelho {
    background-color: red;
}

.laranja {
    background-color: orange;
}

.texto {
    color: white;
}

/* #destaque {
    background-color: red;
}

ul li.primeiro {
}

.destaque {
    color: white;
    background-color: black;
} */
